* {
    margin:0; 
    padding:0;
}

header {
    background: white;
    box-shadow: 0px 2px 10px gray;
}

header .texto-inicial {
    display: inline;
    font-family: 'Ropa Sans';
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    color: #777777;
    
}

header #msg-texto-inicial {
    font-family: 'Ropa Sans';
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: #AAAAAA;
}

section.container {
    margin: 20px 350px 20px 300px;
    display: table;
}

.imagem1 {
    width: 740px;
}

.div-img-central {
    width: 270px;
    display: table;
    float: left;
    margin: 20px 20px 20px 80px;
    background-color: #ece3e3;
    

}
.img-central {
    width: 100%;
    display: table;
}

.div-img-central .img-central {
    width: 150%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 2px auto;
    
}

/* .div-inf .inf-img {
    font-size: 10px;
    color: #363636;
    position: relative;
    left: 650px;
}

.div-inf .fundo-inf {
    position: absolute ;
    left: 650px;
} */