* {
    margin: 0;
    padding: 0;
}

header {
    background: white;
    box-shadow: 0px 2px 10px gray;
}

header .texto-inicial {
    display: inline;
    font-family: 'Ropa Sans';
    font-weight: 400;
    font-size: 40px;
    color: #777777;
    margin: 1% 1% 1% 5%;
}

header .lovt-text {
    width: 3%;
}

header .lovt-barra {
    margin: 0.5% 0% 0.5% 80%
}


section.container {
    margin: 2% 25% 2% 25%;
    display: table;
}

.imagem1 {
    width: 112%;
}

.div-img-central1 {
    width: 25%;
    display: inline-block;
    margin: 2% 0% 2% 25%;
}

.div-img-central2 {
    width: 25%;
    display: inline-block;
    margin: 2% 2% 2% 5%;
}

.img-central {
    width: 80%;
    display: table;
}

.imagens-centrais .div-img-central1 {
    color: #AAAAAA;
}

.imagens-centrais .div-img-central1 .img-infs {
    background-color: #ece3e3;
    width: 80%;
    align-items: right;
}

.imagens-centrais .div-img-central2 .img-infs {
    background-color: #ece3e3;
    width: 80%;
}

.imagens-centrais .div-img-central1 .text-img {
    font-family: 'Ropa Sans';
    font-size: 14px;
    color: #AAAAAA;
    background-color: #ece3e3;
    width: 80%;
}

.imagens-centrais .div-img-central2 .text-img {
    font-family: 'Ropa Sans';
    font-size: 14px;
    color: #AAAAAA;
    background-color: #ece3e3;
    width: 80%;
}

div.retang-yourstyle {
    background: rgb(253, 252, 252);
    padding: 2%;
    width: 46.5%;
    margin: 2% 2% 2% 25%;
}

div.retang-industrial {
    background-image: url(../img/industrial.png);
    padding: 2%;
    width: 46.5%;
    margin: 2% 2% 2% 25%;
}

div.retang-modern {
    background-image: url(../img/modern.png);
    padding: 2%;
    width: 46.5%;
    margin: 2% 2% 2% 25%;
}

div.retang-classic {
    background-image: url(../img/classica.png);
    padding: 2%;
    width: 46.5%;
    margin: 2% 2% 2% 25%;
}

section.retang .retang-font-yourstyle {
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 30px;
    color: #8b7f7f;
    text-align: center;
}

section.retang .retang-font {
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 30px;
    color: #d8d2d2;
    text-shadow: 2px 2px rgb(2, 2, 2);
    text-align: center;
}

footer {
    padding: 5%;
    background-color: #363535;
    margin: 10% 1% 2% 1%;
}

.google-maps {
    width: 30%;
}

.text-footer {
    display: inline-block;
    margin: 1% 0% 0% 40%;
    color: white;
}

.img-footer {
    display: inline;
    margin: 1% 0% 1% 70%;
}

.img-footer .img-social {
    display: inline-block;
    padding: 1%;
}
